h2 {
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

section {
  /*margin: 30px auto;*/
  width: 90%;
  line-height: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 768px) {
  section {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 60%;
  }
}